---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import NavigationBar from '../components/navigationBar.astro';

---
<Layout title="Welcome to Astro">
	<main>
		<Header
		title="Astro App"
	/>
  <NavigationBar></NavigationBar>
  </main>
  </Layout>
  <style>

  </style>