---
import Button from './Button.astro';
---
<div>
  <Button buttonText="Button 1" buttonLink="https://www.nfl.com" />
  <Button buttonText="Button 2" buttonLink="https://www.mlb.com"/>
  <Button buttonText="Button 3" buttonLink="https://www.nba.com"/>
</div>